HTML {
    color: #000000;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0;
}

body {
    background-image: url('../img/0.jpg');
    background-position: 21px 0px;
}

#xr_xri {
}

a {
    color: #444444;
}

.dr-tbpnl-cntnt {
    font-size: 14px !important;
    font-family: Arial, Verdana !important;
    background: #F7F7F7;
}

.dr-tbpnl-tb-act {
    font-weight: bold;
}

.dr-tbpnl-tb-act,.dr-stglpnl-b,.dr-pnl,.dr-mpnl-pnl {
    background: #F7F7F7;
}

.dr-tbpnl-tb-inact {
    color: #B60D1C;
    background: #FFFFFF;
}

.dr-tbpnl-tb-sel {
    border-color: #E3E3E3;
}

.tdn,.tdn a {
    text-decoration: none;
}

.red,.red a {
    color: #B60D1C;
}

.gray,.gray a {
    color: gray;
}

.m {
    color: red !important;
}

.b {
    font-weight: bold;
}

.i {
    font-style: italic;
}

.nowrap {
    white-space: nowrap !important;
}

.h100 {
    height: 100%;
    margin-bottom: 0px;
    padding-top: 20px;
}

input[type="text"],input[type="password"],textarea,select {
    font-size: 14px !important;
    padding-left: 1px;
}

.fs20 {
    font-size: 20px;
}

.fs14 {
    font-size: 14px;
}

.lstn ul {
    list-style-type: none !important;
    padding-left: 0;
    width: 240px;
}

.k-footer {
    left: auto;
    position: absolute;
    bottom: 0;
    width: 1280px;
    height: 42px;
    border: 0;
    padding-top: 0;
}

.k-footer .bil,.k-footer .bir {
    padding: 2px 0 2px 0;
    text-align: center;
}

.k-footer .bil {
    border-left: 1px dashed #FFFFFF !important;
}

.k-footer .dr-toolbar-int {
    padding-left: 5px;
    padding-right: 5px;
}

.k-footer .dr-toolbar-ext {
    background-image: url("../img/10.png");
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 0;
    color: #FFFFFF !important;
    border: 0;
}


.no_border .dr-table {
    border: 0 !important;
}

.k-footer .dr-menu-label-select {
    background: transparent !important;
    padding: 3px 6px;
    border: 0;
    color: #FFFFFF !important;
}

.k-footer .arrow {
    position: relative;
    left: 4px;
    width: 6px;
    height: 10px;
}
.k-header {
    left: 0px;
    top: 0px;
    width: 1280px;
    height: 50px;
    border: 0;
    padding: 0;
}

.k-header .dr-toolbar-int {
    padding: 0 !important;
}

.k-header {
    border: 0;
    padding: 0;
    color: #000000 !important;
}

.k-header .lt td {
    padding: 0;
    margin: 0;
}

.k-header .dr-menu-label-unselect {
    padding: 0 !important;
}

.dr-stglpnl-h,.dr-pnl-h,.dr-table-subheader {
    background: #B60D1C !important;
    border: 0;
    background-image: none !important;
    color: #FFFFFF;
    height: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

.dr-table-subheadercell {
    color: #FFFFFF;
    height: 30px !important;
}

.dr-stglpnl,.dr-pnl {
    border: 1px solid #B90000;
}

.hnt {
    padding: 8px 1px 4px 1px;
}

.kin {
    padding: 4px;
}

.lc {
    padding: 10px 5px 5px 5px
}

#xr_xri {
    /*     height: 800px; */
    min-height: 860px;
    width: 1280px;
}

.xr_ap {
    border: medium none;
    position: absolute;
}

.login_button {
    background: url('../img/32.png') no-repeat top !important;
}

.dr-table-footer,.dr-table-header {
    background: transparent;
}

.dr-dscr-t {
    background: transparent;
    border: 0;
}

.dr-dscr-t .padr {
    padding-right: 20px;
}

.dr-dscr-t .padl {
    padding-left: 20px;
}

.dr-dscr-button,.dr-dscr-sepctrl {
    background: transparent;
    border: 0;
    font-family: Tahoma, Arial, Verdana, sans-serif;
    font-size: 13px;
}

.dr-dscr-act,.dr-dscr-inact {
    font-weight: bold;
    font-size: 13px;
}

.dr-dscr-act,.dr-dscr-inact:HOVER {
    border: 0;
    color: #B60D1C;
}

.dr-dscr-inact {
    border: 0;
    color: #000000;
}

.message {
    border: 1px solid gray;
    padding: 15px 0;
    background-color: #FFF7CE;
    font-size: 14px;
}

.message li.infomsg {
    background-image: none !important;
}

.message li.errormsg {
    background-image: url("../img/bad.png") !important;
}

.message li.warnmsg {
    background-image: none !important;
}

#home_video {
    background-image: url("../img/video_bg1.png") !important;
    width: 366px;
    height: 340px;
}

.kh-video {
    position: relative;
    bottom: -14px;
    left: 27px;
}

.dr-table-headercell {
    color: #000000 !important;
}

.dr-table {
    background: transparent;
}

.no_border .dr-table-cell,.no_border .dr-table,.no_border .dr-table-footercell
    {
    border: 0;
}

input[type="submit"],input[type="button"], button.ui-state-default {
    font-size: 14px !important;
    background: #B60D1C;
    color: #ffffff;
    border: 1px solid;
    height: 40px;
}

input[type="submit"]:HOVER,input[type="button"]:HOVER {
    background-color: #D50D1C;
}

.dr-tbpnl-tb,.dr-pnl-b {
    font-size: 12px !important;
}

.tac {
    text-align: center;
}

.logout_btn {
    left: -12px;
    top: 16px;
    position: relative;
}

.status_modal .dr-mpnl-pnl,.status_modal .dr-mpnl-shadow {
    background: transparent !important;
    border: 0 !important;
}

.mc,.mc a {
    color: #B60D1C !important;
}

.datalist .ui-widget-content {
    background: transparent;
    border: 0px;
}

.datalist .ui-widget-content td,.datalist td {
    border: none;
}

.datalist table thead {
    display: none;
}

ul {
    list-style-type: none;
}

.ui-widget {
    font-family: inherit;
    font-size: inherit;;
}

.text_justify {
    text-align: justify;
}

.lc_message {
    font-size: 20px;
    font-style: italic;
}

.memo_logo {
    font-size: 28px;
}
.menu_item_h_link {
    position:absolute;
    margin-top:6px;
}

.top {
    vertical-align:top;
}
.align_center {
    float: center;
}
.ui-datatable tbody td, .wrapp_text {
    white-space: normal !important;
    word-wrap: break-word;
}
